.feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none;
    color: black;
    z-index: 2;
}
.feynman__link:hover {
    color: #2f80ed;
    opacity: .6;
    transition: 1s linear;
}